<% @banda.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert"><%=message%></div>
<% end %>

<%= form_for @banda do |f| %>

    <div class="form-group">
        <%= f.label :nome %><br />
        <%= f.text_field :nome, class: "form-control" %><br /><br />
    </div>

    <div class="form-group">
        <%= f.label :descricao %><br />
        <%= f.text_area :descricao, rows: 4, class: "form-control" %><br /><br />
    </div>

    <div class="form-inline">
        <%= f.label :quantidade %><br />
        <%= f.number_field :quantidade, step: 1, class: "form-control" %><br /><br />
    </div>

    <div class="form-group">
        <%= f.label :preco %><br />
        <%= f.number_field :preco, step: 0.1, class: "form-control" %><br /><br />
    </div>
 
    <div class="form-group">
        <%= f.label :estilo %><br />
        <%= f.collection_select :estilo_id, @estilos, :id, :nome,
                    {}, class: "form-control"
         %><br />
    </div>


    <%= f.submit "Criar", class: "btn btn-primary" %>

<% end %>